
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
$fa-font-path: "../webfonts";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";



.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  color:white;
}

nav{
  background-color: #1f497d;
}

.btn-primary{
  background-color: rgb(0, 51, 102);
}

.bg-color1{
  background-color: #5c696e;
  color: white;
  }
  .bg-color2{
      background-color: #0186a7;
      color: white;
  }
  .bg-color3{
      background-color: #ffc107;
      color: white;
  }
  .bg-color4{
      background-color: darkviolet;
      color: white;
  }
  .bg-color5{
      background-color: #1b7d7d;
      color:white;
  }
  .bg-color6{
      background-color:#a41b25;
      color:white;
  }
  
  .container .card-header{
      padding-bottom:0px;
      padding-top:0.53em;
  }
  .container .card-header h5{
      text-align: center;
  }
  
  .progress{
      margin-top:50px;
      margin-left:-20px;
      margin-right:-20px;
  }
  #butts{
      padding-left:0px;
      padding-right:0px;
  }
  #butts button{
      width:105px;
      padding-left:12px;
  }
  .card-body .progress-bar{
      width:0%;
     
  }
  
  .subbut{
      
  }
